*-wrap.cl
*-wrap.cpp
*.bak
*.o
*.owl
*.so
.d
.idea
.sconsign.dblite
D
\#*\#
__pycache__
all
cmake-build-*/
comgr.log
config.txt
core
cuda/
gpuowl
gpuowl-expanded.cl
gpuowl.exe
gpuowl.log
pm1/pm1
proof
results.old
results.txt
sent.old
sent.txt
tmp/
tmp?/
trashbin
version.inc
version.new
worktodo.txt
