*-wrap.cl
*-wrap.cpp
*.bak
*.o
*.owl
*.so
.d
.d/
.idea
.sconsign.dblite
D
\#*\#
__pycache__
all
build/
cmake-build-*/
comgr.log
config.txt
core
cuda/
gpuowl
gpuowl-expanded.cl
gpuowl.exe
gpuowl.log
pm1/pm1
proof
tmp/
tmp?/
version.inc
version.new
worktodo.txt
